<body>
  <div id="contenedor">
   
    <header>
      <h1>Profile</h1>
      <h2>I'm a creative Software developer</h2>
    </header>

    <img src="../assets/images/yo front.jpg" alt="Creative Graphic Designer">

    <section class="about-me">      
      <h2>About me</h2>
      <p>"Experienced software developer with expertise in programming and tech solutions focused on functionality and user experience... </p>
     
 
    </section>

    <section class="details">
      <h2>Details</h2>
      <p><strong>Name:</strong> Stefany Salamanca</p>
      <p><strong>Age:</strong> 31 years</p>
      <p><strong>Location:</strong> 'Bogotá, TColombia, Earth</p>
      <div class="social-links">
        <a href="#" class="social-link">Facebook</a>
        <a href="#" class="social-link">Twitter</a>
        <a href="#" class="social-link">Instagram</a>
      </div>
    </section>

  
  </div>
  <footer>
    <p>Tu hoja de Vida</p>
  </footer>
</body>